{% extends 'base.html.twig' %}


{% block title %}Détails
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/test7.css') }}">
{% endblock %}

{% block body %}


	{% if commandes is defined %}
		<h2>Détails</h2>
		<table>
			<thead>
				<tr>
          <th>ID Commande</th>
					<th>Numéro</th>
					<th>Date de commande</th>
					<th>Etat</th>
					<th>Prix total</th>
				</tr>
			</thead>
			<tbody>
				{% for commande in commandes %}
					<tr>
            <td>{{ commande.id }}</td>
						<td>{{ commande.numero }}</td>
						<td>{{ commande.dateCommande|date("Y/m/d") }}</td>
            {% for ligne in lignes %}
            <td>{{ ligne.produit }}</td>
            <td>{{ ligne.prix }} x {{ ligne.quantite }} = {{ ligne.total }}</td>  
            {% endfor %}
						<td>{{ commande.etat|join(', ') }}</td>
						<td>{{ (commande.Total / 100) }}€</td>
						<td><a href="{{ path('commande_detail') }}" class="btnShow">+</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2>Votre historique de commande est vide :/</h2>
	{% endif %}
{% endblock %}